<div>
	<div class="modal-header">
	    <h3 class="modal-title" align="center">
	        新增邮箱
	    </h3>
	</div>
	    <div class="modal-body">
              <div class="form-group">
                  <label for="MailReceiver">接收人姓名</label>
                  <input type="text" class="form-control" id="addMailReceiver" placeholder="请输入接收人姓名" ng-model="addMailReceiver">
              </div>
              <div class="form-group">
                  <label for="MailAddress">接收地址</label>
                  <input type="text" class="form-control" id="addMailAddress" placeholder="请输入接收地址" ng-model="addMailAddress">
              </div>
          </div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="addMail()">
	        保存
	    </button>
	    <button class="btn btn-warning" ng-click="cancel()">
	        退出
	    </button>
	</div>
</div>