<div class="panel panel-default">
    <div class="panel-heading">
        <i class="icon-th-large"></i> <span>告警列表</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <table class="table-striped table-hover table-condensed table table-condensed table-responsive">
            <thead>
            <tr>
                <th class="text-center" >
                	<strong>告警名称</strong>
                </th>
                <th class="text-left" >
                	<strong>告警类型</strong> 
                </th>
                <th class="text-left" >
                	<strong>操作</strong> 
                </th>
                
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center text-warning">demotest-consumer</td>
                <td class="text-left text-warning">programmer</td>
                <td class="text-left text-warning"><a href="#">x</a></td>
            </tr>
            <tr>
                <td class="text-center text-warning">demotest-consumer</td>
                <td class="text-left text-warning">programmer</td>
                <td class="text-left text-warning"><a href="#">x</a></td>
            </tr>
            <tr>
                <td class="text-center text-warning">demotest-consumer</td>
                <td class="text-left text-warning">programmer</td>
                <td class="text-left text-warning"><a href="#">x</a></td>
            </tr>
            
            </tbody>
        </table>
       </div>
      </div>
    </div>
</div>