<div class="panel panel-default">
    <div class="panel-heading">
        <i class="icon-th-large"></i> <span>业务告警列表</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <table class="table-striped table-hover table-condensed table table-condensed table-responsive">
            <thead>
            <tr>
            	<th class="text-center"><strong>#</strong></th>
                <th class="text-left" >
                	<strong>业务告警名称</strong>
                	<input type="text" class="inner-form-element" ng-change="filter()" ng-model="query.application" placeholder="输入要查询的业务告警名称">
                </th>
                
                <th class="text-center" >
					<wui-date format="yyyy-mm-dd" placeholder="请选择或输入开始日期" id="date1" btns="{'ok':'确定','now':'此刻'}" ng-model="date1"></wui-date>
					--
					<wui-date format="yyyy-mm-dd" placeholder="请选择或输入结束日期" id="date2" btns="{'ok':'确定','now':'此刻'}" ng-model="date2"></wui-date>
                </th>
                <th class="text-left">
                	<strong>详情列表</strong> 
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
            	<td class="text-center ">1</td>
                <td class="text-left text-warning">demotest-consumer</td>
                <td class="text-center text-warning">2018-12-12 14:22:32</td>
                <td class="text-left text-warning"><a href="#">详情</a></td>
            </tr>
            <tr>
            	<td class="text-center ">2</td>
                <td class="text-left text-warning">demotest-consumer</td>
                <td class="text-center text-warning">2018-12-12 14:22:32</td>
                <td class="text-left text-warning"><a href="#">详情</a></td>
            </tr>
            <tr>
            	<td class="text-center ">3</td>	
                <td class="text-left text-warning">demotest-consumer</td>
                <td class="text-center text-warning">2018-12-12 14:22:32</td>
                <td class="text-left text-warning"><a href="#">详情</a></td>
            </tr>
            
            </tbody>
        </table>
       </div>
      </div>
    </div>
</div>
