<div class="panel-heading">
		<strong>请输入或选择需要查询的时间段:</strong>
		<wui-date format="yyyy-mm-dd" placeholder="请选择或输入开始日期" id="startdate" btns="{'ok':'确定','now':'此刻'}" ng-model="startdate"></wui-date>
		--
		<wui-date format="yyyy-mm-dd" placeholder="请选择或输入结束日期" id="enddate" btns="{'ok':'确定','now':'此刻'}" ng-model="enddate"></wui-date>
		<button type="button" class="btn" ng-click="queryBizWarning()">查询</button>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="icon-th-large"></i> <span>服务告警列表</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <table class="table-striped table-hover table-condensed table table-condensed table-responsive">
            <thead>
            <tr>
            	<th class="text-center"><strong>#</strong></th>
                <th class="text-left" >
                	<strong>报文ID</strong>
                </th>
                
                <th class="text-center" >
					<strong>时间</strong>
                </th>
                <th class="text-left" ng-show="!isConsumer">
                	<strong>详情列表</strong> 
                </th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-show="alarms&&alarms.length>0" ng-repeat="alarm in alarms " class="ng-animation">
            	<td class="text-center ">{{$index+1}}</td>
                <td class="text-left text-warning">{{alarm.traceId}}</td>
                <td class="text-center text-warning">{{alarm.traceDt}}</td>
                <td class="text-left text-warning"><a href="#">详情</a></td>
            </tr>
            
            </tbody>
        </table>
       </div>
      </div>
    </div>
    <div ng-if="myPage.totalItems" my-pagination pg="myPage"></div>
    
   
</div>
