<div class="panel panel-default">
	<div>标题</div>
    <div class="panel-heading">
        <i class="icon-th-large"></i> <span>service：xxxxxxxxxx</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <table class="table-striped table-hover table-condensed table table-condensed table-responsive">
            <thead>
            <tr>
            	<th class="text-center"><strong>id</strong></th>
                <th class="text-left" >
                	<strong>报文ID</strong>
                </th>
                
                <th class="text-center" >
					<strong>报文内容</strong>
                </th>
                <th class="text-left">
                	<strong>报文时间</strong> 
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
            	<td class="text-center ">1</td>
                <td class="text-left text-warning">demotest-consumer</td>
                <td class="text-center text-warning">2018-12-12 14:22:32</td>
                <td class="text-left text-warning"><a href="#" ng-click="open()">详情</a></td>
            </tr>
            
            </tbody>
        </table>
       </div>
      </div>
    </div>
</div>
