<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <ul class="nav nav-tabs">
        	<li role="presentation"  ng-click="switchTab('tradingStatistic')"><a href="#/statistics">交易统计</a></li>
            <li role="presentation" class="{{currentTab=='apps'?'active':''}}" ng-click="switchTab('apps')"><a href="#/statistics">应用信息</a></li>
            <li role="presentation" class="{{currentTab=='service'?'active':''}}" ng-click="switchTab('service')"><a href="#/statistics">服务信息</a></li>
            <li role="presentation" class="{{currentTab=='nodes'?'active':''}}" ng-click="switchTab('nodes')"><a href="#/statistics">应用部署节点信息</a></li>
            <li role="presentation" class="{{currentTab=='dependencies'?'active':''}}" ng-click="switchTab('dependencies')"><a href="#/statistics">依赖关系图</a></li>
        </ul>
    </div>
</div>

<div class="row" ng-show="currentTab=='tradingStatistic'">
	<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
	<div class="panel-heading" style="text-align:center">
		<strong>请选择您需要查询的一天:</strong>
		<wui-date format="yyyy-mm-dd" placeholder="请选择或输入开始日期" id="daydate" btns="{'ok':'确定','now':'此刻'}" ng-model="daydate"></wui-date>
		<button type="button" class="btn"  ng-click="queryDayTrading()">查询</button>
	</div>
		<div class="row" id="dayTrading" style="height:500px;">
         	
        </div>
     </div>
	<div class="panel-heading" style="text-align:center">
		<strong>请选择您需要查询TOP10的时间段:</strong>
		<wui-date format="yyyy-mm-dd" placeholder="请选择或输入开始日期" id="startdate" btns="{'ok':'确定','now':'此刻'}" ng-model="startdate"></wui-date>
		--
		<wui-date format="yyyy-mm-dd" placeholder="请选择或输入结束日期" id="enddate" btns="{'ok':'确定','now':'此刻'}" ng-model="enddate"></wui-date>
		<button type="button" class="btn"  ng-click="queryTrading()">查询</button>
	</div>
     <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 max-view-height" >
         <div class="row" >
             <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" id="total" style="height:300px">
                 
             </div>
             <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" id="time1" style="height:300px">
                 
             </div>
         </div>
         <div class="row">
             <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" id="success" style="height:300px">
                 
             </div>
             <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" id="fail" style="height:300px"> 
                 
             </div>
         </div>
     </div>
</div>
<div class="row" ng-show="currentTab=='apps'">
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6" id="statisticsAppsTypes" style="height: 400px;">

    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6" id="statisticsServiceProtocol" style="height: 400px;">

    </div>
</div>
<div class="row" ng-show="currentTab=='service'">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="serviceStatus" style="height: 400px;">

    </div>
</div>
<div class="row" ng-show="currentTab=='dependencies'">
    <app-dependencies graph="graph"  ></app-dependencies>

</div>
<div class="row" ng-show="currentTab=='nodes'">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="nodes" style="height: 400px;">

    </div>
</div>