<?xml version="1.0" encoding="UTF-8" ?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <listener>
        <listener-class>com.dubboclub.dk.web.utils.ContextLoaderListenerWrapper</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:/META-INF/spring/*.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>springMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:webApplication.xml</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springMVC</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>   
    <!-- zgcBank-uiap -->
    <servlet>
        <servlet-name>uiap</servlet-name>
        <servlet-class>com.dubboclub.dk.uiap.UiapAuthnProcessorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uiap</servlet-name>
        <url-pattern>/uiap.do</url-pattern>
    </servlet-mapping>   
	<!-- ConvertRequestFilter And LogPrint -->
	<filter>
		<filter-name>ConvertRequestFilter</filter-name>
		<filter-class>com.dubboclub.dk.filter.ConvertRequestFilter</filter-class>
		<init-param>
			<param-name>ignores</param-name>
			<param-value>/uiap.do,/notification,/css,/img,/js,/templates</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ConvertRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
